RewriteEngine On

# Empêcher l'indexation automatique des fichiers
Options -Indexes

RewriteRule ^$ controleur/AuthContolleur.php [L]

RewriteRule ^incidents$ controleur/IncidentsControleur.php [L]

RewriteRule ^capteurs$ controleur/CapteursControleur.php [L]

RewriteRule ^genererrapport$ controleur/GenererRapportControleur.php [L]

RewriteRule ^deconnexion$ controleur/DeconnexionControleur.php [L]

# Rediriger toutes les requêtes non définies vers une page 404
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ controleur/Erreur404Controleur.php [L]
